html, body 
  height: 100%
  margin: 0
  padding: 0
  color: rgba(232, 232, 232, 1)
  background: rgba(44, 57, 64, 1)
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif
  letter-spacing: .08em

body ::-webkit-scrollbar 
  display: n